.quotes {
	margin-top: 2%;
}

.approved {
	color: green;
	font-weight: bold;
}

.declined {
	color: red;
	font-weight: bold;
}

.premiumBlurb {
	color: rgb(252, 23, 141);
	font-weight: bolder;
	margin-right: 10px;
}
